body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0c1317;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container {
    width: calc(100% - 1cm); 
    height: calc(100% - 1cm); 
    overflow: auto; /* Añade scroll si el contenido es más largo que la pantalla */
    background-color: #222e35; 
    display: flex;
}

.column {
    padding: 0px; /* Ajusta el espaciado interior según sea necesario */
}

.contactos {
    flex: 5;
}

.chat {
    flex: 12;
    border-left: 1px solid #2b373f;
}

header {
    background-color: #202c33;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end; 
    justify-content: space-between; 
    width: 100%; 
}

.menu li {
    margin-right: 40px; 
}

.menu li:last-child {
    margin-right: 10px; 
}

.menu a img {
    width: 20px; 
    height: 20px;
    object-fit:contain;
}

.menu a {
    color: #fff;
    text-decoration: none;
}



